name: pr_website
on:
  pull_request:
    branches: main

jobs:
  build:
    name: Build website with rmarkdown
    runs-on: ubuntu-latest
    container: mpetienne/mode2023:0.1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install R packages
        uses: Rscrit -e "install.packages('nlme')"
      - name: Generate slides
        run: "quarto render"
